/* Write all your CSS here */

/* Please indent properly */

/* Please use only lower-case letters */

/* Your webpage should be 100% responsive!!! */

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#main {
    display: flex;
}

#main-1 {
    width: 37%;
    border: 1px solid black;
    display: flex;
}

#main-2 {
    width: 63%;
}

#icons {
    width: 30%;
    background-color: #200720;
    display: flex;
    flex-direction: column;
}

#icons figure img {
    height: 50px;
    width: 50px;
}

#tk-2019 {
    background-color: #3f0d40;
    width: 100%;
}

#tk-2019 h2 {
    display: inline-block;
    color: white;
    margin-left: 10px;
}

#sorted-down {
    color: gray;
    margin: 2px;
}

#bell {
    color: gray;
    margin-left: 100px;
    font-size: 25px;
}

#circle {
    color: #37938a;
    margin-right: 5px;
}

#tk-2019 p {
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: 5px;
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
}

#tk-2019 input {
    background-color: #200720;
    border: 0.1px solid #200720;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}

h3 {
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}

#bars {
    padding-right: 5px;
    color: gray;
}

#message {
    color: gray;
    padding-right: 5px;
}

#tk-2019 #channel {
    display: inline-block;
    margin-top: 20px;
}

#plus {
    color: gray;
    margin-left: 135px;
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 100%;
    padding: 5px;
}

/* #list-1 {
    display: flex;
    flex-direction: column;
} */

#lists {
    display: flex;
    flex-direction: column;
}

.lists .list-item i {
    color: gray;
    font-size: 20px;
}

.list-item {
    display: flex;
    margin-bottom: 10px;
}

#dm~i {
    color: gray;
    margin-left: 135px;
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 100%;
    padding: 5px;
}

p #dm {
    display: inline-block;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header-1 h4 {
    margin-top: 1em;
    margin-bottom: 0.2em;
    margin-left: 1em;
    font-family: 'Montserrat', sans-serif;
}

#star {
    color: gray;
    margin: 0.3em;
    border-right: 1px solid gray;
    padding-right: 4px;
}

#people {
    color: gray;
    margin: 0.3em;
    border-right: 1px solid gray;
    padding-right: 4px;
}

#pin {
    color: gray;
    margin: 0.3em;
    border-right: 1px solid gray;
    padding-right: 4px;
}

#pencil {
    color: gray;
    margin: 0.3em;
    border-right: 1px solid gray;
    padding-right: 4px;
}

#header-2 {
    margin-top: 25px;
}

#header-2 input {
    height: 30px;
    border-radius: 5px;
}

#phone {
    color: gray;
    margin: 0.3em;
}

#info {
    color: gray;
    margin: 0.3em;
}

#settings {
    color: gray;
    margin: 0.3em;
}

#phone {
    color: gray;
    margin: 0.3em;
}

#star-2 {
    color: gray;
    margin: 0.3em;
}

#ellipsis {
    color: gray;
    margin: 0.3em;
}

#hr-1{
    display:flex;
}